.friend-requests-container {
    position: absolute;
    top: 27px;
    right: -81px;
    width: 430px;
    background: white;
    border: 1px solid rgba(100, 100, 100, .4);
    border-radius: 0 0 2px 2px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.friend-requests-header {
    font-size: 12px;
    color: #333333;
    background: white;
    display: flex;
    align-items: center;
    padding: 8.5px 12px 6.5px;
    font-weight: 600;
    border-bottom: 1px solid #dddfe2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.friend-requests-pic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.friend-requests li {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-bottom: 1px solid #dddfe2;
}

#friend-requests-none {
    background: #f5f6f7;
    height: 30px;
    color: #90949c;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friend-requests-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.friend-requests-info span {
    font-size: 12px;
    color: #385898 !important;
    margin-left: 8px;
    margin-top: 3px;
} 

.friend-requests-info span:hover {
    text-decoration: underline;
}

.friend-requests-buttons button {
    font-size: 12px;
    padding: 3px 8px;
    font-weight: 600;
    border-radius: 2px;
}

.confirm {
    background: #4267b2;
    color: white;
    border: 1px solid #4267b2;
    margin-right: 5px;
}

.confirm:hover {
    background: #365899;
}

.delete {
  background: #f5f6f7;
  color: #4b4f56;
  border: 1px solid #ccd0d5;  
}

.delete:hover {
    background: #ebedf0;
}