.post-index-container {
    width: 512px;
    position: relative;
}


.posts-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    background: white;
    margin-bottom: 5px;
    min-height: 190px;
    position: relative;
    width: 512px;
    box-sizing: border-box;
}

.posts-form-body {
    cursor: default;
    border-bottom: 1px solid #dddfe2;
    background: #f5f6f7;
    padding: 10px;
    color: darkslategray;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.post-add-photo {
    margin-left: 8px;
    padding: 1px 8px;
    border-left: 1px solid #ccd0d5;
    border-right: 1px solid #ccd0d5;
}

.post-add-photo label {
    cursor: pointer;
}

.post-add-photo span {
    color: #385898;
}

.post-add-photo .fa-camera {
    margin-right: 3px;
}

#post-file {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -999;
    opacity: 100%;
}

.posts-form .fa-pencil-alt {
    margin-right: 3px;
}

.textarea-container {
    position: relative;
}

.posts-form textarea {
    resize: none;
    overflow: hidden;
    padding: 10px 15px;
    min-height: 90px;
    font-size: 20px;
    width: calc(100% - 30px);
}

.posts-photo-preview {
    margin-left: 15px;
    width: 100px;
    position: relative;
}

.posts-photo-preview img {
    height: 100px;
    width: 100px;
}

.preview-overlay {
    position: absolute;
    background: black;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    opacity: 0.2;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.25s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.2;
	}
}

.posts-photo-preview .fa-times {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 5px;
    color: rgba(255, 255, 255, 0.747);
}

.posts-photo-preview .fa-times:hover{
    color: rgba(255, 255, 255, 0.932);
}



.posts-btn {
    // background: #9CB4D8;
    background: steelblue;
    color: white;
    font-weight: 500;
    height: 25px;
    font-size: 12px;
    width: 95%;
    margin: 10px auto;
    border-radius: 2px;
    cursor: pointer;
}

.posts-btn:hover {
    background: rgb(40, 97, 145);
}

#disabled {
    cursor: not-allowed;
}

#disabled:hover {
    background: steelblue;
}

.posts-edit-footer {
    background: #f5f6f7;
    margin-top: 10px;
    height: 40px;
    box-sizing: border-box;
    border-top: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.posts-edit-btn {
    padding: 0 16px;
    color: white;
    border-radius: 2px;
    background: #4267b2;
    box-sizing: border-box;
    height: 24px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
}

.posts-edit-btn:hover {
    background: #365899;
}

.posts-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // width: 578px;
}

.post {
    border: 1px solid #dddfe2;
    margin: 5px 0;
    height: auto;
    border-radius: 3px;
    background: white;
    // min-height:150px;
}

.post-body {
    padding: 0 15px 10px 15px;
    font-size: 15px;
    white-space: pre-wrap;
}

.post-photo img {
    border-top: 1px solid #dddfe2;
    border-bottom: 1px solid #dddfe2;
    width: calc(100%);
    max-height: 100%;

}

.post hr {
    border-bottom: 1px solid #dddfe2;
    width: 95%;
    margin: 0 auto;
}

.post-header {
    display: flex;
    margin: 10px 10px 5px 10px;
    position: relative;
}

.post-ellipsis {
    position: absolute;
    right: 0;
}

.post-ellipsis .fa-ellipsis-h {
    cursor: pointer;
    color: #696b70;
}

.fa-ellipsis-h:hover {
    color: black;
}

.post-actions {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 100px;
    background: white;
    z-index: 11;
    padding: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.247);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.post-actions-divider {
    border-bottom: 1px solid #E9EBEE;
    margin: 4px 7px 3px;
    padding-top: 1px;
}

.post-actions li {
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
    color: #1d2129;
    padding: 2px 12px;
    margin: 0 2px;
}

.post-actions li:hover {
    background: #4367b1;
    color: white;
}


.post-profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.post-info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 2px;
}

.post-username {
    color: #46649f;
    font-size: 14px;
    font-weight: 500;
}

.post-username:hover {
    text-decoration: underline;
}

.post-time {
    margin-top: 1px;
    font-size: 12px;
    font-weight: 400;
    color: #616770;
}

.fa-user-tie {
    margin-left: 5px;
}

.post-options {
    color: #6e6c6f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;
}

.like, .share, .post-options label {
    cursor: pointer;
    padding: 6px 0;
    margin: 4px 0;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    border-radius: 2px;
}

#liked {
    color: #1f78f4;
}

.like:hover, .share:hover, .post-options label:hover {
    background: #f2f2f2;
}

.post-options .far, .post-options .fas {
    font-size: 16px;
    margin-right: 5px;
}
