.post-index-container {
    width: 512px;
    position: relative;
}


.posts-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    background: white;
    margin-bottom: 5px;
    min-height: 190px;
    
}

.posts-form label {
    border-bottom: 1px solid #dddfe2;
    background: whitesmoke;
    padding: 10px;
    color: darkslategray;
    font-size: 12px;
    font-weight: 600;
}

.posts-form textarea {
    resize: none;
    padding: 10px 15px;
    min-height: 90px;
    font-size: 20px;
}

.posts-form button {
    // background: #9CB4D8;
    background: steelblue;
    color: white;
    font-weight: 500;
    height: 25px;
    font-size: 12px;
    width: 95%;
    margin: 10px auto;
    border-radius: 2px;
    cursor: pointer;
}

.posts-form button:hover {
    background: rgb(40, 97, 145);
}



.posts-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // width: 578px;
}

.post {
    border: 1px solid #dddfe2;
    margin: 5px 0;
    height: auto;
    border-radius: 3px;
    background: white;
    // min-height:150px;
}

.post-body {
    padding: 0 15px 10px 15px;
    font-size: 15px;
    white-space: pre-wrap;
}

.post hr {
    border-bottom: 1px solid #dddfe2;
    width: 95%;
    margin: 0 auto;
}

.post-header {
    display: flex;
    margin: 10px 10px 5px 10px;
    position: relative;
}

.post-ellipsis {
    position: absolute;
    right: 0;
}

.post-ellipsis .fa-ellipsis-h {
    cursor: pointer;
    color: #696b70;
}

.fa-ellipsis-h:hover {
    color: black;
}

.post-actions {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 100px;
    background: white;
    z-index: 11;
    padding: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.247);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.post-actions-divider {
    border-bottom: 1px solid #E9EBEE;
    margin: 4px 7px 3px;
    padding-top: 1px;
}

.post-actions li {
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
    color: #1d2129;
    padding: 2px 12px;
    margin: 0 2px;
}

.post-actions li:hover {
    background: #4367b1;
}


.post-profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.post-info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 2px;
}

.post-username {
    color: #46649f;
    font-size: 14px;
    font-weight: 500;
}

.post-username:hover {
    text-decoration: underline;
}

.post-time {
    font-size: 12px;
    font-weight: 400;
    color: #616770;
}

.fa-user-tie {
    margin-left: 5px;
}

.post-options {
    color: #6e6c6f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;
}

.like, .share, .post-options label {
    cursor: pointer;
    padding: 6px 0;
    margin: 4px 0;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    border-radius: 2px;
}

#liked {
    color: #1f78f4;
}

.like:hover, .share:hover, .post-options label:hover {
    background: #f2f2f2;
}

.post-options .far, .post-options .fas {
    font-size: 16px;
    margin-right: 5px;
}
