// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, textarea, button, input, label, div, hr, p, form, a, h1, h2, ul, li, select {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    font-family: system-ui;
    outline: none;
    text-decoration: none;
    color: inherit;
    resize: none;
    outline: none;
    list-style: none;
    // font-size: inherit;
    // font-weight: inherit;
    // -webkit-font-smoothing: antialiased;
}

body {
    overflow-y: scroll;
}

a, button, input[type='submit'] {
    cursor: pointer;
}


//nav for logging in

.nav-login {
    background: #3f5c9a;
    height: 82px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

.nav-login-container {
    display: flex;
    justify-content: flex-end;
    width: 980px;
    height: 78px;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    bottom: 15px;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.nav-signup-btn {
    cursor: pointer;
    position: absolute;
    width: 68px;
    height: 32px;
    left: 240px;
    bottom: 8px;
    color: white;
    background: #42b72a;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
}

.nav-signup-btn:hover {
    background: #36a420;
}

.nav-login form {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-login p {
    color: white;
    font-size: 12px;
    margin-left: 7px;
}

.nav-login input[type='text'], .nav-login input[type='password'] {
    background: white;
    border: 1px solid black;
    width: 145px;
    height: 15px;
    margin: 5px 6px;
    padding: 3px 3px 4px;
    font-size: 12px;
}

.nav-login input[type='submit'] {
    border: 1px solid #29487d;
    border-radius: 2px;
    color: white;
    background: #4267b2;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    margin: 15px 5px 0 5px;
    cursor: pointer;
}

.nav-login input[type='submit']:hover {
    background: #3f5c9a;
}

.nav-forgot {
    position: absolute;
    top: 62px;
    right: 127px;
    font-size: 12px;
    color: #9cb4d8;
}

.nav-forgot:hover {
    text-decoration: underline;
}

//splash signup info

.signup-info h3 {
    font-size: 28px;
    font-weight: 600;
    color: #333333;
    width: 510px;
    line-height: 36px;
    padding: 16px 0;
}

.splash-captions-container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.splash-caption {
    color: #666666;
    font-size: 15px;
}

.splash-bolded {
    color: #333333;
    font-size: 17px;
    font-weight: 600;
    margin-right: 2px;
}

.fa-newspaper, .fa-desktop, .fa-recycle {
    color: #adb9d3;
    margin-right: 16px;
    width: 56px;
}

.fa-newspaper {
    font-size: 50px;
}

.fa-desktop {
    font-size: 50px;
}

.fa-recycle {
    font-size: 50px;
}


//splash signup

.signup-container {
    width: 100%;
    height: 622px;
    background: #EDF0F5;
    margin-top: 82px;
}

.signup-inner {
    display: flex;
    width: 980px;
    height: 620px;
    margin: 0 auto;
    align-items: center;
}

.signup-info {
    width: 565px;
    height: 582px;
}

.signup-fields {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 582px;
    margin-left: 10px;
}

.signup-container h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.signup-container h2 {
    color: #333333;
    font-size: 19px;
    font-weight: 200;
    margin: 10px 0 20px 0;
}

.signup-fields form {
    display:flex;
    flex-direction: column;
}

.signup-fn, .signup-ln, .signup-email, .signup-password {
    height: 23px;
    padding: 8px 10px;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    margin: 5px 0 5px 0;
    background: white;
    font-size: 18px;
}

.signup-fn, .signup-ln {
    width: 172px;
}

.signup-ln {
    margin-left: 10px;
}

.signup-form p {
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px;
}

.signup-email, .signup-password {
    width: 378px;
}

.signup-bday {
    margin-top: 8px;
}

.signup-bday select {
    background: white;
    border: 1px solid #bdc7d8;
    height: 30px;
    font-size: 13px;
    margin-right: 5px;
}

.signup-gender span {
    display: inline-block;
    margin-top: 3px;
    padding: 5px 0 5px 4px;
}

.signup-gender label {
    padding: 0 10px 0 3px;
    font-size: 18px;
}

.signup-gender input {
    margin: 3px;
}

.signup-btn, .demo-btn {
    cursor: pointer;
    margin-top: 20px;
    padding: 7px 20px;
    height: 39px;
    width: 180px;
    font-size: 19px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    text-shadow: 1px 0 rgb(61, 60, 60);
    border: 1px solid black;
}

.signup-btn {
    background: linear-gradient(#67ae55, #578843);
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    margin-right: 10px;
}

.signup-btn:hover {
    background: linear-gradient(#76b467, #659452);
}

.demo-btn {
    background: linear-gradient(#d89f25, #e2850a);
    box-shadow: inset 0 1px 1px #f7cf4e;
    border-color: #b17f14 #ac6305 #945a02;
    
}

.demo-btn:hover {
    background: linear-gradient(#e4a929, #e98a0e);
}

.signup-gender-field {
    border-radius: 5px;
}



//error handling

.error {
    border: 1px solid red !important;
}

.error-container {
    position: relative;
}

.error-icon {
    position: absolute;
    top: 0;
    right: 10px;
}

.error-icon2 {
    position: absolute;
    top: 15px;
    right: 10px;
}

.fa-exclamation-circle {
    color: #b94a48;
}

.error-msg {
    position: absolute;
    z-index: 5;
    background: #be4b49;
    color: white;
    padding: 13px;
    font-size: 13px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);

}

.error-arrow {
    position: absolute;
    width: 0; 
    height: 0; 

}

.error-first_name {
    left: -160px;
    bottom: -10px;
}

.error-arrow-first_name {
    right: -10px;
    top: 12px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #be4b49;
}

.error-last_name {
    left: 10px;
    bottom: -70px;
}

.error-arrow-last_name {
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #be4b49;

}

.error-email {
    left: -200px;
    bottom: 5px;
}

.error-arrow-email {
    right: -10px;
    top: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #be4b49;
}

.error-password {
    left: -335px;
    bottom: 5px;
}

.error-arrow-password {
    right: -10px;
    top: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #be4b49;
}

.error-login-email {
    top: 20px;
    right: -255px;
    width: 210px;
    text-align: center;
}

.error-arrow-login-email {
    left: -10px;
    top: 20px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #be4b49;
}

//login page

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 82px;
    height: 536px;
    background: #E9EBEE;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 376px;
    width: 612px;
    background: white;
    border: 1px solid #dddfe2;
    border-radius: 3px;
}

.login-form h1 {
    font-size: 18px;
    color: #1C1E21;
    font-weight: 500;
    padding: 18px 0;
}

.login-form input[type='text'], .login-form input[type='password'] {
    height: 22px;
    width: 284px;
    background: white;
    border: 1px solid #dddfe2;
    padding: 5px 8px;
    margin: 6px 0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    color: #1D2129;
   
}

.login-form input[type='submit'] {
    height: 44px;
    width: 302px;
    background: #4267B2;
    margin-top: 6px;
    margin-bottom: 20px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
}

.login-form input[type='submit']:hover {
    background: #29487D;
}

.login-or {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 16px;
    font-size: 12px;
}

.login-or-line {
    width: 145px;
    height: 1px;
    background: #ccd0d5;
    margin: 0 10px;
    margin-top: 1px;
}

.login-demos-container {
    height: 44px;
    width: 380px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.demo {
    height: 44px;
    width: 142px;
    font-size: 14px;
    color: white;
    margin: 0 5px;
    border-radius: 3px;
    font-weight: 500;
}

.demo-ally {
    background: #42b72a;
}

.demo-ally:hover {
    background: #2b9217;
}

.demo-comrade {
    background: rgb(243, 6, 6);
}

.demo-comrade:hover {
    background: rgb(202, 30, 30);
}

//user nav bar when logged in
// .nav-user {
//     background: #4267b2;
//     height: 42px;
//     position: fixed;
//     top: 0;
//     width: 100%;
//     border-bottom: 1px solid #29487d;
// }

// .nav-user-container {
//     height: 100%;
//     width: 1012px;
//     margin: 0 auto;
//     display: flex;
//     align-items: center;
// }

// .fa-facebook-square {
//     font-size: 28px;
//     color: white;
// }

// .nav-search {
//     position: relative;
// }

// .nav-search input{
//     background: white;
//     height: 24px;
//     width: 393px;
//     border: 1px solid #3b5998;
//     border-radius: 3px;
//     padding-left: 5px;
//     padding-right: 48px;
//     font-size: 13px;
//     margin-left: 5px;
// }

// .nav-search-btn {
//     cursor: pointer;
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     border-radius: 0 3px 3px 0;
//     color: #4b4f56;
//     background: #f5f6f7;
//     text-align: center;
//     border: 1px solid #3b5998;
//     border-left: none;
//     width: 46px;
// }

// .nav-search-btn:hover {
//     background: #eef0f3;
// }

// .fa-search {
//     font-size: 16px;
//     padding: 4px 0;
//     text-align:center;
// }

// .nav-profile img {
//     width: 24px;
//     height: 24px;
//     border-radius: 50%;
// }

// .nav-user section {
//     cursor: pointer;
//     display: flex;
//     align-items: center;
//     height: 28px;
// }

// .nav-user section:hover {
//     background: #3B5DA1;
// }

// .nav-user span {
//     color: white;
//     font-size: 12px;
//     font-weight: 550;
// }

// .nav-profile-container {
//     width: 120px;
//     display: flex;
//     justify-content: flex-end;
// }


// .nav-profile {
//     // margin-left: 36px;
//     padding: 0 10px 0 2px;
// }

// .nav-profile-fn {
//     margin-left: 5px;
// }

// .nav-separator {
//     height: 18px;
//     border-right: 1px solid #3B5DA1;
// }

// .nav-home, .nav-find-friends, .nav-create {
//     padding: 0 12px;
// }

// .nav-alerts i {
//     cursor: pointer;
//     display: inline-block;
//     font-size: 20px;
//     color: rgb(25, 37, 71);
// }

// .nav-alerts i:hover {
//     color: black;
// }

// .fa-user-friends {
//     margin-left: 11px;
// }

// .fa-facebook-messenger {
//     margin: 0 15px;
// }

// .fa-bell {
//     margin-right: 11px;
// }

// .fa-caret-down {
//     margin-left: 5px;
//     color: rgb(25, 37, 71);
//     cursor: pointer;
// }

// .open {
//     color: white !important;
// }

// .menu-modal {
//     position: fixed;
//     top: 42px;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     background: transparent;
//     z-index: 10;
// }

// .menu {
//     position: absolute;
//     top: 3px;
//     left: calc(50% + 255px);
//     width: 200px;
//     background: white;
//     z-index: 11;
//     padding: 5px 0;
//     border: 1px solid rgba(0, 0, 0, 0.247);
//     box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
// }

// .fa-caret-up {
//     color: white;
//     font-size: 20px;
//     position: absolute;
//     top: -12px;
//     right: 10px;
// }

// .menu li {
//     cursor: pointer;
//     padding: 0 34px;
//     color: #1D2129;
//     font-size: 12px;
//     line-height: 22px;
//     -webkit-font-smoothing: antialiased;
// }

// .menu li:hover {
//     background: #4267b2;
// }

// .menu-divider {
//     border-bottom: 1px solid #E9EBEE;
//     margin: 5px 7px 6px;
//     padding-top: 1px;
// }

.bg-container {
    position: absolute;
    margin-top: 42px;
    min-height: 100%;
    min-width: 100%;
    background: #E9EBEE;
    z-index: -1;
    display: flex;
    justify-content: center;
}



//profile

.profile-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 981px;
    position: relative;
    z-index: -1;
}

.profile-cover {
    // min-height: 205px;
    height: 225px;
    width: 851px;
    background: #1b1e21;
    position: relative;
    z-index: -1;
}

.profile-cover:hover .profile-update-cover {
    transition: opacity .3s cubic-bezier(.175, .885, .32, 1.275), width .3s step-start;
    display: block;
}

.profile-update-cover {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.541);
    color: white;
    border: 1px solid rgba(212, 216, 224, 0.527);
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    
}

.profile-cover-image {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -5
}

.profile-photo-container {
    position: absolute;
    height: 166px;
    width: 166px;
    left: 15px;
    bottom: -25px;
    background: white;
    border: 1px solid #dedede;
    border-radius: 50%;
}

.profile-photo {
    position: absolute;
    left: 4px;
    top: 4px;
    height: 158px;
    width: 158px;
    border-radius: 50%;
    
}

.profile-update-photo {
    cursor: pointer;
    position: absolute;
    height: 79px;
    width: 158px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 500;
    bottom: 4px;
    left: 4px;
    transition: 0.13s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-update-photo:hover {
    background: black;
}

.fa-camera {
    color: #c0c0c0;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.3s;
}

.profile-update-photo:hover > .fa-camera {
    transform: scale(.75);
}

.profile-update-photo span {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}

.profile-fn {
    position: absolute;
    color: white;
    font-size: 24px;
    text-transform: capitalize;
    bottom: 15px;
    left: 200px;
}

.profile-button {
    cursor: pointer;
    position: absolute;
    height:28px;
    right: 25px;
    bottom: 15px;
    background: #f5f6f7;
    padding: 0 10px;
    color: #4b4f56;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 600;
}

.profile-button:hover {
    background: #dddfe2;
}


.profile-button-unfriend {
    position: absolute;
    top: 31px;
    left: 0;
    background:white;
    border: 1px solid #666666;
    padding: 6px 0;
    width: 100px;
    display: none;
}

.profile-button:hover .profile-button-unfriend {
    display: block;
}

.triangle {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    width: 0;
    height: 0;
    position: absolute;
    top: -5px;
    left: 7px;
}

.fa-user-plus, .fa-check {
    margin-right: 3px;
}

.profile-nav {
    width: 648px;
    height: 42px;
    padding-left: 201px;
    background: white;
    border: 1px solid #d3d6db;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    z-index: -2;
}


.profile-nav li {
    height: 100%;
    border-left: 1px solid #d3d6db;
    display: flex;
    align-items: center;
    color: #385898;
    font-size: 14px;
    font-weight: 600;
}

.profile-nav li a {
    padding: 12px 20px;
}

.profile-nav li:last-child {
    border-right: 1px solid #d3d6db;
}

.profile-nav li:hover {
    background: #f5f6f7;
}

.profile-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo-form-container {
    position: absolute;
    width: 700px;
    height: 500px;
    background: white;
    border-radius: 3px;
    color: #1d2129;
    
}

.profile-photo-form-header {
    display: flex;
    justify-content: space-between;
    padding: 11px 12px;
    background: #f5f6f7;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #e5e5e5;
}

.profile-photo-form-header span {
    font-size: 14px;
    font-weight: 600;
}

.fa-times {
    color: #cfcece;
}

.fa-times:hover {
    cursor: pointer;
    color: #9FA4AF;
}

.profile-photo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.profile-photo-form label {
    cursor: pointer;
    width: 100%;
    padding: 50px 0;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    text-transform: capitalize;
}

.profile-photo-form label:hover {
    background: #f5f6f7;
}

.fa-plus {
    margin-right: 8px;
}

#profile-photo-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -10
}

.profile-photo-form h3 {
    display: block;
    margin-top: 30px;
    font-weight: 600;
}

.profile-preview-photo {
    height: 158px;
    width: 158px;
    border-radius: 50%;
}

.profile-preview-cover {
    max-height: 210px;
    max-width: 590px;
}

.profile-photo-form button {
    margin-top: 20px;
    color: white;
    background: #4267b2;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 12px;
    border-radius: 2px;
}

.profile-photo-form button:hover {
    background: #365899;
}

//friend requests

// .friend-requests-container {
//     position: absolute;
//     top: 1px;
//     left: calc(50%);
//     width: 430px;
//     background: white;
//     border: 1px solid rgba(100, 100, 100, .4);
//     border-radius: 0 0 2px 2px;
//     box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
// }

// .friend-requests-header {
//     font-size: 12px;
//     color: #333333;
//     background: white;
//     display: flex;
//     align-items: center;
//     padding: 8.5px 12px 6.5px;
//     font-weight: 600;
//     border-bottom: 1px solid #dddfe2;
//     border-top-left-radius: 3px;
//     border-top-right-radius: 3px;
// }

// .friend-requests-pic {
//     height: 48px;
//     width: 48px;
//     border-radius: 50%;
// }

// .friend-requests li {
//     display: flex;
//     align-items: center;
//     padding: 6px 12px;
//     border-bottom: 1px solid #dddfe2;
// }

// .friend-requests-info {
//     display: flex;
//     width: 100%;
//     justify-content: space-between;
// }

// .friend-requests-info span {
//     font-size: 12px;
//     color: #385898;
//     margin-left: 8px;
//     margin-top: 3px;
// } 

// .friend-requests-info span:hover {
//     text-decoration: underline;
// }

// .friend-requests-buttons button {
//     font-size: 12px;
//     padding: 3px 8px;
//     font-weight: 600;
//     border-radius: 2px;
// }

// .confirm {
//     background: #4267b2;
//     color: white;
//     border: 1px solid #4267b2;
//     margin-right: 5px;
// }

// .confirm:hover {
//     background: #365899;
// }

// .delete {
//   background: #f5f6f7;
//   color: #4b4f56;
//   border: 1px solid #ccd0d5;  
// }

// .delete:hover {
//     background: #ebedf0;
// }

//profile components

.profile-component-container {
    display: flex;
    flex-direction: column;
    background: white;
    width: 850px;
    margin-top: 10px;
    border: 1px solid #d3d6db;
    border-radius: 3px;
}

.profile-component-header {
    background: #f5f6f7;
    padding: 17px 10px;
    border-bottom: 1px solid #d3d6db;

}

.profile-component-header span {
    color: #4f4f56;
    font-size: 20px;
    font-weight: 700;
}

.profile-component-friends {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    // justify-content: space-evenly;
}

.profile-component-friends li:nth-child(odd) {
    margin-left: 15px;
}

.profile-component-friends li:nth-child(even) {
    margin-left: 15px;
}

.profile-component-friends li {
    display: flex;
    align-items: center;
    width: 400px;
    border: 1px solid #e9ebee;
    margin-bottom: 15px;
    height: 102px;
}

.friends-info {
    margin-left: 10px;
    text-transform: capitalize
}

.friends-info a {
    font-size: 14px;
    font-weight: 600;
    color: #385898;
}

.friends-info p {
    font-size: 12px;
    color: #90949c;
    font-weight: 400;
}

.friends-info a:hover {
    text-decoration: underline;
}


.profile-component-friends img {
    height: 100px;
    width: 100px;
}

//timeline

.timeline-container {
    width: 851px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}

.timeline-left {
    width: 321px;
}

.timeline-friends {
    border: 1px solid #dddfe2;
    display: flex;
    background: white;
    flex-direction: column;
    border-radius: 3px;
}


.timeline-friends-header {
    display: flex;
    align-items: center;
    padding: 12px 0;
    margin: 0 12px;
    color: #1d2129;
}

.timeline-friends-icon {
    height: 24px;
    width: 24px;
    margin-right: 7px;
}

.timeline-friends-label {
    font-size: 16px;
}

.timeline-friends-label:hover {
    text-decoration: underline;
}

.timeline-friends-count {
    margin-left: 3px;
    font-size: 14px;
    margin-bottom: 1px;
    color: #90949c;
}
.timeline-friends-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7px;
    
}

.timeline-friends-list li {
    margin-left: 5px;
    margin-bottom: 3px;
}

.timeline-friends-list a {
    display: flex;
    flex-direction: column;
    width: 100px;
    font-size: 12px;
    color: #385898;
    text-align: center;
}

.timeline-friends-list a:hover {
    text-decoration: underline;
}

.timeline-friends-list img {
    height: 100px;
    width: 100px;
}

//posts

// .post-index-container {
//     width: 512px;
// }


// .posts-form {
//     display: flex;
//     flex-direction: column;
//     margin: 0 auto;
//     border: 1px solid #dddfe2;
//     border-radius: 3px;
//     background: white;
//     margin-bottom: 5px;
//     min-height: 190px;
    
// }

// .posts-form label {
//     border-bottom: 1px solid #dddfe2;
//     background: whitesmoke;
//     padding: 10px;
//     color: darkslategray;
//     font-size: 12px;
//     font-weight: 600;
// }

// .posts-form textarea {
//     resize: none;
//     padding: 10px 15px;
//     height: 90px;
//     font-size: 20px;
// }

// .posts-form button {
//     // background: #9CB4D8;
//     background: steelblue;
//     color: white;
//     font-weight: 500;
//     height: 25px;
//     font-size: 12px;
//     width: 95%;
//     margin: 10px auto;
//     border-radius: 2px;
//     cursor: pointer;
// }

// .posts-form button:hover {
//     background: rgb(40, 97, 145);
// }

// hr {
//     border-bottom: 1px solid #dddfe2;
//     width: 95%;
//     margin: 0 auto;
// }


// .posts-container {
//     display: flex;
//     flex-direction: column;
//     margin: 0 auto;
//     // width: 578px;
// }

// .post {
//     border: 1px solid #dddfe2;
//     margin: 5px 0;
//     height: auto;
//     border-radius: 3px;
//     background: white;
//     // min-height:150px;
// }

// .post-body {
//     padding: 0 15px 10px 15px;
//     font-size: 15px;
// }

// .post-header {
//     display: flex;
//     margin: 10px 10px 5px 10px;
//     position: relative;
// }

// .fa-ellipsis-h {
//     cursor: pointer;
//     position: absolute;
//     right: 0;
//     color: #696b70;
// }

// .fa-ellipsis-h:hover {
//     color: black;
// }

// .post-actions {
//     position: absolute;
//     top: 15px;
//     right: 5px;
//     width: 100px;
//     background: white;
//     z-index: 11;
//     padding: 5px 0;
//     border: 1px solid rgba(0, 0, 0, 0.247);
//     box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
// }

// .post-actions-divider {
//     border-bottom: 1px solid #E9EBEE;
//     margin: 4px 7px 3px;
//     padding-top: 1px;
// }

// .post-actions li {
//     font-size: 12px;
//     font-weight: 300;
//     color: #1d2129;
//     padding: 2px 12px;
//     margin: 0 2px;
// }

// .post-actions li:hover {
//     background: #4367b1;
// }


// .post-profile {
//     width: 45px;
//     height: 45px;
//     border-radius: 50%;
// }

// .post-info {
//     display: flex;
//     flex-direction: column;
//     margin-left: 5px;
//     margin-top: 2px;
// }

// .post-username {
//     color: #46649f;
//     font-size: 14px;
//     font-weight: 500;
// }

// .post-username:hover {
//     text-decoration: underline;
// }

// .post-time {
//     font-size: 12px;
//     font-weight: 400;
//     color: #616770;
// }

// .fa-user-tie {
//     margin-left: 5px;
// }

// .post-options {
//     color: #6e6c6f;
//     display: flex;
//     justify-content: space-evenly;
//     font-size: 13px;
// }

// .post-options a, .post-options label {
//     padding: 6px 0;
//     margin: 4px 0;
//     font-weight: 600;
//     display: block;
//     width: 30%;
//     text-align: center;
//     border-radius: 2px;
// }

// .post-options a:hover, .post-options label:hover {
//     background: #f2f2f2;
// }

// .post-options .far {
//     font-size: 16px;
//     margin-right: 5px;
// }

//comment

.comment-form {
    padding: 10px 12px;
    border-top: 1px solid #dddfe2;
    display: flex; 
}

.comment-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 7px;
}

.comment-body-container {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #dddfe2;
    background: #f2f3f5;
    border-radius: 16px;
    position: relative;
}

.comment-body {
    resize: none;
    width: calc(100% - 35px);
    height:30px;
    font-size: 14px;
    padding: 7px 15px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}

.comment-body:focus::-webkit-input-placeholder {
    color: rgb(207, 204, 204);
}


.comment-container {
    display: flex;
    padding: 5px 12px;
}

.comment-container a:hover {
    text-decoration: underline;
}

.comment-container:first-child {
    border-top: 1px solid #dddfe2;
    padding-top: 10px;
}

.comment-container:last-child {
    padding-bottom: 10px;
}

.comment-user a {
    color: #46649f;
    font-size: 13px;
    font-weight: 500;
  
}

.comment-box {
    display: flex;
    background: #f2f3f5;
    padding: 7px 10px;
    border-radius: 18px;
    flex-wrap: wrap;
}
.comment {
    font-size: 13px;
    margin-left: 5px;
    word-break: break-all;
    white-space: pre-wrap;
}

//emojis 

.emojitime {
    position: absolute;
    right: 11px;
    bottom: 7px;
    color: rgb(139, 137, 137);
}

.emojitime-2 {
    position: absolute;
    right: 15px;
    bottom: 40px;
    color: rgb(139, 137, 137);
}

.fa-smile-wink {
    cursor: pointer;
}

.fa-smile-wink:hover {
    color: rgb(112, 110, 110);
}

#emoji-container {
    position: relative;
}

.emoji-menu {
    width: 300px;

    background: white;
    position: absolute;
    z-index: 10;
    border: 1px solid #E9EBEE;
    border-radius: 3px;
    bottom: 40px;
    right: -10px;
    cursor: default;
}

.emojis-list::-webkit-scrollbar {
    width: 5px;
}
 
.emojis-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.emojis-list::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.466);
  outline: 1px solid slategrey;
}

.emojis-list {
    height: 200px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    justify-content: center;
}

.emojis-title {
    display: block;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    margin-left: 10px;
}

.emojis-title:first-child {
    margin-top: 5px;
}

.emojis-list li {
    // display: flex;
    // align-items: flex-end;
    // justify-content: center;
    padding: 2px 5px;
    // margin: 3px 0;
    cursor: pointer;
    vertical-align: text-bottom;
}

.emojis-list li:hover {
    background: #f6f6f6;
    border-radius: 3px;
}

.emojis-nav {
    border-top: 1px solid #e9ebee;
    display: flex;
    justify-content: center;
}

.emojis-nav li {
    width: 25px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
}

.emojis-nav i {
    cursor: pointer;
}

.outer-triangle {
    position: absolute;
    border-top: 10px solid #e9ebee;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    right: 9px;
}

.inner-triangle {
    position: absolute;
    border-top: 9px solid white;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent; 
    bottom: 1px;
    left: -9px;
}

//feed

.feed-container {
    display: flex;
    justify-content: center;
    width: 1012px;
    padding-right: 60px;
    margin-top: 15px;
}

.feed-index-container {
    width: 512px;
    position: relative;
}

.feed-left-container {
    // position: absolute;
    // left: -195px;
    width: 180px;
    margin-right: 10px;
}

.feed-left {
    color: #1d2129;
    font-size: 13px;
    position: fixed;
    width: 180px;
    
}

// #fl-user {
//     margin-bottom: 10px;
// }

.feed-left li, .fl-header {
    display: flex;
    align-items: center;
    padding: 4px 6px;
    border: 1px solid transparent;
}

.fl-header {
    font-size: 13px;
    font-weight: bold;
    color: #616770;
    cursor: default;
    margin-top: 10px;
}

.feed-left li:hover {
    background: #f5f6f7;
    border: 1px solid #dddfe2;
}


#fl-icon {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.fl-favicons {
    width: 20px;
    height: 20px;
}

.icon-container {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.icon-container i {
    font-size: 21px;
}

.icon-container .fa-linkedin {
    color: #0078b5;
}

.icon-container .fa-folder {
    color: #f8c96a;
    font-size: 19px;
}


.feed-right-container {
    width: 240px;
    margin-left: 10px;
}

.fr-ad {
    position: fixed;
    width: 214px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    background: white;
    padding: 12px;
}

.fr-header {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #616770;
    cursor: default;
    margin-bottom: 8px;
}

.fr-image {
    max-width: 214px;
    max-height: 100%;
}

.fr-ad-title {
    color: #3b5998;
    font-size: 13px;
    font-weight: bold;
}

.fr-ad-description {
    color: #616770;
    font-size: 13px;
}


//misc
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}