// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, textarea, button, input, label, div, hr, p, form, a, h1, h2, select {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    font-family: system-ui;
    outline: none;
    text-decoration: none;
    color: inherit;
    resize: none;
    outline: none;
    // font-size: inherit;
    // font-weight: inherit;
    
}

body {
    overflow-y: scroll;
}

.nav-login {
    background: #3f5c9a;
    height: 82px;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-login-container {
    display: flex;
    justify-content: flex-end;
    width: 980px;
    height: 78px;
    margin: 0 auto;
}

.nav-login form {
    display: flex;
    align-items: center;
}

.nav-login p {
    color: white;
    font-size: 12px;
    margin-left: 7px;
}

.nav-login input[type='text'], .nav-login input[type='password'] {
    background: white;
    border: 1px solid black;
    width: 145px;
    height: 15px;
    margin: 5px 6px;
    padding: 3px 3px 4px;
    font-size: 12px;
}

.nav-login input[type='submit'] {
    border: 1px solid #29487d;
    border-radius: 2px;
    color: white;
    background: #4267b2;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    margin: 15px 5px 0 5px;
    cursor: pointer;
}

.nav-login input[type='submit']:hover {
    background: #3f5c9a;
}

.signup-container {
    width: 100%;
    height: 622px;
    background: #EDF0F5;
    margin-top: 82px;
}

.signup-inner {
    display: flex;
    width: 980px;
    height: 620px;
    margin: 0 auto;
    align-items: center;
}

.signup-info {
    width: 565px;
    height: 582px;
}

.signup-fields {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 582px;
    
}

.signup-container h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.signup-container h2 {
    color: #333333;
    font-size: 19px;
    font-weight: 200;
    margin: 10px 0 20px 0;
}

.signup-fields form {
    display:flex;
    flex-direction: column;
}

.signup-fn, .signup-ln, .signup-email, .signup-password {
    height: 23px;
    padding: 8px 10px;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    margin: 5px 0 5px 0;
    background: white;
    font-size: 18px;
}

.signup-fn, .signup-ln {
    width: 172px;
}

.signup-ln {
    margin-left: 10px;
}

.signup-form p {
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px;
}

.signup-bday {
    margin-top: 8px;
}

.signup-bday select {
    background: white;
    border: 1px solid #bdc7d8;
    height: 30px;
    font-size: 13px;
}

.signup-gender span {
    display: inline-block;
    margin-top: 3px;
    padding: 5px 0 5px 4px;
}

.signup-gender label {
    padding: 0 10px 0 3px;
    font-size: 18px;
}

.signup-gender input {
    margin: 3px;
}

.signup-btn {
    cursor: pointer;
    margin-top: 20px;
    padding: 7px 20px;
    height: 39px;
    width: 180px;
    font-size: 19px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    text-shadow: 1px 0 rgb(61, 60, 60);
    border: 1px solid black;
    background: linear-gradient(#67ae55, #578843);
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
}

.signup-btn:hover {
    background: linear-gradient(#76b467, #659452);
    
}